body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}

h1,h2,p {
    text-align: center;
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}

.bottom-line {
    margin: 25px 0 0 0;
}

.menu {
    max-width: 500px;
    width: 80%;
    background: burlywood;
    margin: 0 auto 0 auto;
    padding: 20px;
}

img {
    display: block;
    margin: -25px auto 0 auto;
}

h1,h2 {
    font-family: Impact,serif;
}

.flavor, .dessert {
    width: 75%;
    text-align: left;

}

.established {
    font-style: italic;
}



.price {
    width: 25%;
    text-align: right;
}

.item p {
    display: inline-block;
    margin: 5px 0 5px 0;
    font-size: 18px;
    
}

/* FOOTER */

footer {
    font-size: 14px;
}

.address {
    margin-bottom: 5px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: brown;
}

a:active {
    color: brown;
}